.founder-container {
  display: flex;
  margin-top: 20px; /* added space between the top of the container and the images */
}

.founder {
  flex: 1;
  text-align: center;
}

.founder-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative; /* added position relative for the img */
  right: 10px; /* added translation to the right */
}

.founder-bio {
  font-size: 14px;
  margin-top: 10px;
}
