---
---

// Variables
@import "utilities/variables";

// Utility styles
@import "utilities/mixins";
@import "utilities/utils";
@import "utilities/syntax-highlighting";
@import "utilities/animations";

// Core
@import "base/normalize";
@import "base/global";
@import "base/layout";
@import "base/typography";

// Components
@import "components/navigation";
@import "components/pagination";
@import "components/code";
@import "components/message";

// Pages
@import "pages/landing";
@import "pages/posts";



.founder-container {
  display: flex;
}

.founder {
  flex: 1;
  text-align: center;
}

.founder-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.founder-bio {
  font-size: 14px;
  margin-top: 10px;
}
