---
---

// Variables
@import "utilities/variables";

// Utility styles
@import "utilities/mixins";
@import "utilities/utils";
@import "utilities/syntax-highlighting";
@import "utilities/animations";

// Core
@import "base/normalize";
@import "base/global";
@import "base/layout";
@import "base/typography";

// Components
@import "components/navigation";
@import "components/pagination";
@import "components/code";
@import "components/message";

// Pages
@import "pages/landing";
@import "pages/posts";

.container {
            display: inline-flex;
        }

        @media (max-width: 900px) {
            .container {
                display: flex;
                flex-direction: column;
            }
        }


        #img-div1 {
            background: white;
            margin: 0 24px;
            background-image: url("https://www.wearethemighty.com/app/uploads/legacy/assets.rbl.ms/17317425/origin.jpg");
            background-size: cover;
            width: 550px;
            height: 300px;
        }

        #img-div2 {
            background: white;
            margin: 0 24px;
            background-image: url("https://arc-anglerfish-arc2-prod-advancelocal.s3.amazonaws.com/public/MIE5YDG625EFNGPHMVLSL3JDKM.jpg");
            background-size: cover;
            width: 550px;
            height: 300px;
        }

        #img-caption {
            margin: 10px 0 5px 0;
            text-align: center;
        }

        @media (max-width: 460px) {
            #img-caption {
                font-size: 1.4rem;
            }
        }