---
layout: default
title: Blog
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {% if post.truncated_preview == true or site.blog.truncated_preview and post.truncated_preview != false %}
      {{ post.excerpt }}
      <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
    {% else %}
      {{ post.content }}
    {% endif %}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item" href="{{ paginator.next_page_path | prepend: site.baseurl }}">
      <i class="fa fa-arrow-circle-o-left"></i> 
      <span class="pagination-text">older posts</span>
    </a>
  {% else %}
    <span class="pagination-item">
      <i class="fa fa-arrow-circle-o-left"></i> 
      <span class="pagination-text">older posts</span>
    </span>
  {% endif %}

  <!-- <a class="pagination-item" href="#">archive</a> -->

  {% if paginator.previous_page %}
    <a class="pagination-item" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
      <span class="pagination-text">newer posts</span> 
      <i class="fa fa-arrow-circle-o-right"></i>
    </a>
  {% else %}
    <span class="pagination-item">
      <span class="pagination-text">newer posts</span> 
      <i class="fa fa-arrow-circle-o-right"></i>
    </span>
  {% endif %}
</div>
